#logo {
	background-image: url('panier.svg');
	background-repeat: no-repeat;
	background-size: auto 90%;
	background-position: center;
}

#brand:hover,
#brand:focus {
	color: #961419;
}

#nav li > a:hover,
#nav li > a:focus:hover {
	color: #961419;
}

#nav li.active > a,
#nav li.active > a:focus {
	color: #961419;
}

a:link,
a:visited {
	color: #961419;
    text-decoration: none;
}

.btn-toolbar .btn,
.btn-toolbar .btn.active,
.btn-toolbar .btn:focus {
    color: #961419;
    background-color: white;
}

.calendar .today {
	border-color: #961419;
}
